{% extends 'base.html' %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="javascript:void(0)">Manage Reporting</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Manage Report</h4>
            </div>
             {% if added %}
                <div class="alert alert-success alert-dismissible fade show">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                        <polyline points="9 11 12 14 22 4"></polyline>
                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                    </svg>
                    <strong>Success!</strong> Shift Reporting Successfully.
                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                    </button>
                </div>
                {% endif %}

            <div class="card-body">
                <div class="basic-form">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                         {% if reporting_by_user %}
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Reported By</label>
                            <div class="col-sm-9">
                                    {%for i in reporting_by_user%}
                                        <input type="text" class="form-control" name="reported_by" value="{{i.username}}" readonly>
                                    {% endfor %}
                            </div>
                        </div>
                        {%endif%}

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Reporting To</label>
                            <div class="col-sm-9">

                                <input type="text" class="form-control" name="existing_reporting_to" value="{{request.user}}" >

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">New Reporting To</label>
                            <div class="col-sm-9">
                                <select class="form-control"  name="new_reporting_to"  id="id_new_reporting_to"  required>
                                     <option value="">---------</option>
                                    {%for i in data%}
                                        <option value={{i.username}}>{{i.username}}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Report From</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="duration_from" placeholder="Enter Reporting From"  required>
                            </div>
                        </div>

                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Report Till</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" name="duration_till" placeholder="Enter Reporting Till" required >
                            </div>
                        </div>

                            <div class="container">
                                <div class="btn-block d-sm-flex justify-content-end">
                                     <button type="submit" class="btn btn-sm btn-primary">SAVE</button>&nbsp;
                                     <button type="reset" class="btn btn-sm btn-warning">CANCEL</button>
                             </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}