{% extends 'base.html' %}
{% load CustomTaskappTags %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">TASKS TYPE : {{requested_type|title}}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example" class="display table-responsive-md" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Sr. no</th>
                                <!--                                                <th>Task Type</th>-->
                                <th>Description</th>
                                <th>Added on</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>{% for task in all_task_details %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <!--      <td>{{task.task_type.type_name}}</td>-->
                                <td>{{task.details|truncatechars:60}}</td>
                                <td>{{task.added_on}}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="/tasks/view-task/{{task.id}}" class="btn btn-sm btn-info">VIEW</a> &nbsp;
                                        {{task.id|check_edit_able}}
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}