{% extends 'base.html' %}
{% load CustomTaskappTags %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Tasks</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">TASKS</h4>
                  <div class="float-right"><a href="/tasks/add-task" class="btn btn-primary btn-sm">ADD NEW TASK</a>
                  </div>

            </div>
            <div class="card-body">


                <div class="table-responsive">
                    <table id="example" class="display table-responsive-md" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Sr. no</th>
                                <th>Leave Period</th>
                                <th>Leave Type</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in  leave_detail %}
                            <tr>

                                <td>{{forloop.counter}}</td>
                                <td>{{i.leave_period|title}}</td>
                                <td>{{i.leave_type|title}}</td>
                                <td>{{i.start_date}}</td>
                                <td>{{i.end_date}}</td>
                                <td>{{i.leave_description}}</td>
                                 {% if i.is_pending %}
                               <td> <span class="badge light badge-warning">
                                  <i class="text-info mr-1"></i>
                                  Pending
                                  </span></td>
                                   {% elif i.is_approved %}
                                   <td> <span class="badge light badge-success">
                                    <i class="text-info mr-1"></i>
                                    Approved
                                    </span>

                                   </td>
                                 {% elif i.is_rejected%}
                                 <td> <span class="badge light badge-danger">
                                    <i class="text-info mr-1"></i>
                                    Rejected
                                    </span>

                                   </td>
                                  {% endif %}



                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}
