{% extends 'base.html' %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/admin-dashboard/view-all-system-details/">All System Detail</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">System Detail</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">System Detail</h4>
            </div>
             {% if added %}
                <div class="alert alert-success alert-dismissible fade show">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
                        <polyline points="9 11 12 14 22 4"></polyline>
                        <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                    </svg>
                    <strong>Success!</strong> System added successfully.
                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                    </button>
                </div>
                {% endif %}

            <div class="card-body">
                <div class="basic-form">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">System Type</label>
                            <div class="col-sm-9">
                                <select class="form-control"  name="system_type"  id="id_system_type">
                                      {% for computer,macbook in form.fields.system_type.choices %}
                                             <option value="{{ computer }}"{% if form.fields.system_type.value == computer %} selected
                                                     {% endif %}>{{macbook}}</option>
                                     {% endfor %}
                                </select>
                                 <p id="er" class="px-3 my-2"></p>
                            </div>
                         </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Specification</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="specification" placeholder="Enter System Specification"  required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">System Service</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="system_service" placeholder="Enter System Service"  required>
                            </div>
                        </div>

                         <div class="form-group row">
                            <label class="col-sm-3 col-form-label">System Id</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name=" system_id" placeholder="Enter System Id" required >

                                {% if added %}

                                {% else %}

                                {% if system_id %}
                                    <div class="alert alert-warning alert-dismissible fade show" id="systemdetailsid">
                                   {{form.system_id.errors}}

                                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                    </button>
                                    </div>
                                {% endif %}
                                {% endif %}


                            </div>
                        </div>

                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Added On</label>
                            <div class="col-sm-9">
                                <input type="datetime-local" class="form-control" name="added_on" placeholder="Enter Added On" required >
                            </div>
                        </div>

                            <div class="container">
                                <div class="btn-block d-sm-flex justify-content-end">
                                     <button type="submit" class="btn btn-sm btn-primary" onclick="validate()">SAVE</button>&nbsp;
                                     <button type="reset" class="btn btn-sm btn-warning">CANCEL</button>
                             </div>
                           </div>
                        <!-- <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Joined Date</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" value="{{request.user.programming_language.language_name}} " readonly>
                                            </div>
                                        </div> -->

                    </form>
                </div>
            </div>
             <div class="login_foot border-top pt-4">
                <p class="text-center mb-0">©SurajKuikel Copyright. All right reserved.</p>
              </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>

var systemid=document.getElementById("systemdetailsid").innerHTML;
console.log(systemid.length);

if(systemid.length==281){
document.getElementById("systemdetailsid").classList.remove('alert','alert-warning','alert-dismissible'");
}

function validate(){

var a=document.getElementById("id_system_type").value;

console.log(a);
if(a==0){
document.getElementById("er").innerHTML="Please fill out this field";
document.getElementById("er").classList.add('alert','alert-warning');
return false;
}
else{
document.getElementById("er").innerHTML="";
document.getElementById("er").classList.remove('alert','alert-warning');
}
}

// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
{% endblock %}