


<div class="form-group row">
                            <label class="col-sm-3 col-form-label">Service</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="system_id" value="{{y.system_service}}" readonly>
                            </div>
                            <label class="col-sm-3 col-form-label">System ID</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="system_id" value="{{y.system_id}}" readonly>
                            </div>
                            <label class="col-sm-3 col-form-label">Status</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="system_id" value="{{y.status}}" readonly>
                            </div>
                              <label class="col-sm-3 col-form-label">Specification</label>
                           <div class="col-sm-9">
                                <input type="text" class="form-control" name="system_id" value="{{y.specification}}" readonly>
                            </div>

</div>
