{% extends 'base.html' %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Department</a></li>
        </ol>
    </div>
</div>
<div class="row">

    <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h4 class="card-title">DEPARTMENTS</h4>
                  <div class="float-right"><a href="/admin-dashboard/create-language" class="btn btn-primary btn-sm">Add New Language</a>
                  </div>
            </div>


             <div class="card-body">


                <div class="table-responsive">
                    <table id="example" class="display table-responsive-md" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Sr. no</th>
                                <th>Branch/Department</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                         <tbody>
                        {% for language in view_language  %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{language.language_name|title}}</td>
                                   {% if language.is_active == True %}
                                <td> <span class="badge light badge-info">
                                  <i class="fa fa-circle text-info mr-1"></i>
                                  Active
                                </span></td>
                                  {% elif language.is_active == False %}
                                <td> <span class="badge light badge-warning">
                                  <i class="fa fa-circle text-warning mr-1"></i>
                                 Non-Active
                                </span></td>
                                  {% endif %}
<!--                                <td>{{language.is_active}}</td>-->
                                <td><a href="/admin-dashboard/edit-programming-language/{{language.id}}"  class="btn btn-sm btn-success">EDIT</a>
                               <a href="#delete_{{language.id}}" data-toggle="modal" data-target="#delete_{{language.id}}"   class="btn btn-sm btn-danger">DELETE</a></td>
                            </tr>
                          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="delete_{{language.id}}">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete</h5>
                                            <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                                            </button>
                                        </div>
                                         <h4>Are you sure you want to delete?</h4>
                                        <div class="modal-footer">
                                             <a href="/admin-dashboard/delete-programming-language/{{language.id}}" class="btn btn-sm btn-warning">Confirm Delete</a>
                                            <button type="button" class="btn btn-sm btn-danger light" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                         {% endfor %}
                        </tbody>
                    </table>
                </div>
                  <div class="login_foot border-top pt-4">
                <p class="text-center mb-0">©SurajKuikel Copyright. All right reserved.</p>
              </div>

             </div>
       </div>

    </div>

</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}

