{% extends 'base.html' %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Contact</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">CONTACT USER</h4>
                  <div class="float-right"><a href="/admin-dashboard/user-create" class="btn btn-primary btn-sm">Add New User</a>
                  </div>
             </div>
         <div class="card-body">


            <div class="table-responsive">
                    <table id="example" class="display table-responsive-md" style="min-width: 1050px">
                        <thead>
                            <tr>
                                <th>Sr. no</th>
                                <th>Student Id</th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        <tbody>
                                  {% for person in  user_detail %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{person.office_user_id}}</td>
                                <td>{{person.first_name|title}} {{person.last_name|title}}</td>
                                <td>{{person.username|title}}</td>
                                <td>{{person.phone_number}}</td>
                                <td>{{person.email}}</td>
                                <td><a href="tel:+91{{person.phone_number}}"  class="btn btn-sm btn-primary">CALL</a>
                                    <a href="mailto:{{person.email}}"  class="btn btn-sm btn-success">SEND MAIL</a></td>

                            {% endfor %}
                            </tr>
                  </tbody>
              </thead>
             </table>
            </div>
         </div>
             <div class="login_foot border-top pt-4">
                <p class="text-center mb-0">©Suraj KuikelCopyright. All right reserved.</p>
              </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable();
});
</script>
{% endblock %}
