{% load static %}
<link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'vendor/chartist/css/chartist.min.css' %}">

<link rel="stylesheet" href="{% static 'vendor/select2/css/select2.min.css' %}">

<link href="{% static 'vendor/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet">

<link href="{% static 'css/style_custom.css' %}" rel="stylesheet">

<link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link href="{% static 'vendor/jqvmap/css/jqvmap.min.css' %}" rel="stylesheet">

<link href="{% static 'css/style.css' %}" rel="stylesheet">

<!--<link href="{% static 'css/full_calendar.css' %}" rel="stylesheet">-->