{% extends 'base.html' %}
{% block content %}
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard/">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="/projects/">Projects</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Add Project</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">ADD NEW PROJECT</h4>
            </div>

            <div class="card-body">
              {%  if added %}
              <div class="alert alert-success alert-dismissible fade show">
                      <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                      <strong>Success!</strong> project added successfully.
                      <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                        </button>
                    </div>
              {% endif %}
              {%  if status_not_selected %}
              <div class="alert alert-danger alert-dismissible fade show">
              <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
              <strong>Error!</strong> status not selected.
              <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close"><span><i class="mdi mdi-close"></i></span>
                                </button>
            </div>
              {% endif %}


                <div class="basic-form">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Project Title</label>
                            <input type="text" class="form-control input-rounded" placeholder="Enter Project Title" required name="project_title">
                        </div>
                        <div class="row form-material">
                            <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                <label>Start Date</label>
                                <input type="date" class="form-control" placeholder="Select Date" name="start_date" required>
                            </div>
                            <div class="col-xl-3 col-xxl-6 col-md-6 mb-3">
                                <label>Status</label>
                                <div class="form-group mb-0">
                                    <div class="radio">
                                        <label><input type="radio" name="status" value="active"> Active</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="status" value="completed"> Completed</label>
                                        <div id="show_completed_date" class="pt-1"> <label>Completion Date</label>
                                            <input type="date" class="form-control" placeholder="Select Date" name="completed_date"></div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Project Details</label>
                            <textarea class="form-control" rows="4" id="comment" name="task_details" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-rounded btn-info  btn-md">SUBMIT PROJECT DETAILS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$('#show_completed_date').hide();
// $('#show_completed_date_label').hide();

$('input:radio[name="status"]').change(
    function() {
        if ($(this).is(':checked') && $(this).val() == 'completed') {
            $('#show_completed_date').show();
            // $('#show_completed_date_label').show();
        }
        if ($(this).is(':checked') && $(this).val() == 'active') {
            $('#show_completed_date').hide();
            // $('#show_completed_date_label').hide();
        }
    });
</script>
{% endblock %}
